body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color:#e81212;
}

.form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px 0;
}

input[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
}

.task {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}